<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @playlist.user.name %>
</p>

<ol class="list-group">
  <% @playlist_songs.each do |song| %>
    <li class="list-group-item">
      <%= song.artist %> | <%= song.name %> 
      <%= link_to playlist_song_path(@playlist, song), data: { method: :delete, confirm: 'seguro????' } do %>
        <span class="badge badge-danger">borrar</span>
      <% end %>      
    </li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>

<h4>Ingresa una canción</h4>
<%= form_with(model: [@playlist, @song], local: true) do |f| %>
  <%= f.label :artist %>
  <%= f.text_field :artist %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>
<% end %>


